{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}
<h1>Hello World!</h1>

<h4>Username: {{ user['username'] }} - Email: {{ user['email'] }}</h4>

<h5>My favorite colors:</h5>
<ul>
    {% for color in colors %}
        {% if color == 'blue' %}
            <li>{{ color.upper() }}</li>
        {% else %}
            <li>{{ color }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock content %}
